<!-- Site wrapper -->
<div class="wrapper hold-transition sidebar-mini">
    <!-- Navbar -->
    <app-header></app-header>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- /.sidebar -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <app-breadcrumbs></app-breadcrumbs>
        <!-- Main content -->
        <section class="content">
            <router-outlet></router-outlet>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <app-footer></app-footer>
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark"> -->
    <!-- Control sidebar content goes here -->
    <!-- </aside> -->
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
