<div class="abrir-modal animacion fadeIn" *ngIf="_modalService.modal">
    <div class="modal" tabindex="-1" grupoterpeutico="dialog" style="display:block;">
        <div class="modal-dialog modal-lg" grupoterpeutico="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Formulario Principio activo</h5>
                    <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form [formGroup]="principioForm" (ngSubmit)="guardar()">
                            <div class="modal-body">
                                <div class="card card-primary">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="direccion">Nombre principio activo</span>
                                                </div>
                                                <input #nombre formControlName="nombre" type="text" class="form-control" placeholder="Ingresa principio activo" name="nombre" aria-label="Ingrese el principio activo" aria-describedby="nombre">
                                                <div class="input-group-append" *ngIf="(principioForm.get('nombre').touched || principioForm.get('nombre').dirty ) && principioForm.get('nombre').errors">
                                                    <app-button-error-validator *ngIf="principioForm.get('nombre')['errorMessage']" error="{{principioForm.get('nombre')['errorMessage']}}"></app-button-error-validator>
                                                </div>
                                            </div>
                                        </div>
                                          <div class="input-group">
                                            <div class="input-group-prepend">
                                              <label for="grupoterpeutico" class="input-group-text">Grupo terapeutico</label>
                                            </div>
                                              <input [formControlName]="'grupoterpeutico'" for="grupoterpeutico" editable="false" placeholder="Seleccione un grupo" typeahead-editable="false" class="form-control" type="search"
                                              type="search" class="form-control" [ngbTypeahead]="search" #instance="ngbTypeahead" #buscarGT [inputFormatter]="formatter"
                                              [resultFormatter]="formatter"  (keyup)="getGrupoTerapeutico(buscarGT.value)"/>
                                          <div class="input-group-prepend" *ngIf="(principioForm.get('grupoterpeutico').touched || principioForm.get('grupoterpeutico').dirty ) && principioForm.get('grupoterpeutico').errors">
                                              <app-button-error-validator *ngIf="principioForm.get('grupoterpeutico')['errorMessage']" error="{{principioForm.get('grupoterpeutico')['errorMessage']}}"></app-button-error-validator>
                                          </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button (click)="cerrarModal()" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
