<div *ngIf="paisSeleccionado" #modalPais>
    <app-form-pais [pais]="paisSeleccionado"> </app-form-pais>
</div>


<div class="card card-secondary animated fadeIn">
    <div class="card-header border-0">
        <h3 class="card-title">Paises registrados (<small>{{_paisesService.totalPaises}}</small>)</h3>
        <div class="card-tools">
            <a title="Agregar pais" class="btn btn-tool btn-sm" data-toggle="modal" data-target="#agregar" (click)="abrirModal(pais)">
                <i class=" fas fa-plus "></i>
            </a>
        </div>
    </div>
    <div class="card-body table-responsive p-0 ">
        <table class="table table-striped table-valign-middle ">
            <thead>
                <tr>
                    <th>Pais</th>
                    <th>Indicativo</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pais of paises | paginate:{itemsPerPage: limite, currentPage:p, totalItems: _paisesService.totalPaises}">
                    <td>{{pais.nombre}}</td>
                    <td>{{pais.indicativo}}</td>
                    <td>
                        <a (click)="abrirModal(pais)" class="text-muted ">
                            <i class="fas fa-edit" title="Editar"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <nav class="pagination pagination-lg">
        <ul class="pagination justify-content-end">
            <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p=$event" (click)="verp(p)"></pagination-controls>
        </ul>
    </nav>
</div>