<div class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a routerLink="/login"><b>DrugCare</b></a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Registrarse</p>

                <form ngNativeValidate [formGroup]="forma" (ngSubmit)="registrarUsuario()" method="post">
                    <div class="input-group mb-3">
                        <input formControlName="usuario" name="usuario" required type="text" class="form-control" placeholder="Usuario">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input formControlName="password" name="password" type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input formControlName="password2" name="password2" type="password" class="form-control" placeholder="Confirmar password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="forma.errors?.sonIguales && !forma.pristine">
                        <p class="text-danger">
                            Las contraseñas deben de ser iguales
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input formControlName="condiciones" name="condiciones" type="checkbox">
                                <label>De acuerdo con <a href="#">terminos</a></label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center">
                    <p>- O -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Entrar usando Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Entrar usando Google
                    </a>
                </div>

                <a routerLink="/login" class="text-center">Ya tengo una cuenta</a>
            </div>
            <!-- /.form-box -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.register-box -->
</div>