<div class="card text-white bg-light mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Roles existentes ({{totalRoles}})</label>
                    </div>
                    <select [(ngModel)]="selectedRole" class="custom-select" id="inputGroupSelect01" (change)="listarPermisos()">
              <option *ngFor="let role of roles" [value]="role.id">{{role.descripcion}}</option>

            </select>
                    <div class="input-group-prepend">
                        <label class="input-group-text" id="inputGroup-sizing-default">Buscar permiso</label>
                    </div>
                    <input type="search" placeholder="Buscar..." aria-label="Search" class="form-control" aria-describedby="inputGroup-sizing-default" #buscarPermiso (keyup)="buscar=buscarPermiso.value; listarPermisos()">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion" id="accordionExample" *ngIf="selectedRole && selectedRole!==undefined">
    <div class="card" *ngFor="let menu of menus;index as i">
        <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapseOne'+i" aria-expanded="true" [attr.aria-controls]="'collapseOne'+i">
            <div class="card-header" [id]="'headingOne'+i">
                <h2 class="mb-0 d-flex justify-content-start">
                    <i [class]="menu.icono" style="color: black;"></i> &nbsp; {{menu.descripcion}}
                </h2>
            </div>
        </button>
        <div [id]="'collapseOne'+i" class="collapse" [attr.aria-labelledby]="'headingOne'+i" data-parent="#accordionExample">
            <div class="card-body">

                <div class="accordion" [id]="'accordionExample2'+i">
                    <div class="card" *ngFor="let ventanas of menu.ventanas;index as j">
                        <div class="card-header" id="'headingTwo'+j+i">
                            <h2 class="mb-0 d-flex justify-content-start">
                                <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapseTwo'+j+i" aria-expanded="true" [attr.aria-controls]="'collapseTwo'+j+i">
                                    <i [class]="ventanas.icono" style="color: red;"></i> &nbsp; {{ventanas.descripcion}}
                                </button>
                            </h2>
                        </div>
                        <div [id]="'collapseTwo'+j+i" class="collapse" [attr.aria-labelledby]="'headingTwo'+j+i" [attr.data-parent]="'#accordionExample2'+i">
                            <div class="card-body">

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" *ngFor="let ventanasaccione of ventanas.ventanasacciones">

                                        <div class="custom-control custom-checkbox">
                                            <input #checkEstado [checked]="ventanasaccione.ventanaaccionesroles[0].estado" type="checkbox" class="custom-control-input" [id]="'check'+ventanasaccione.codigo" (change)="getVentanaAccionId(ventanasaccione.id, checkEstado.checked)">
                                            <label class="custom-control-label" [for]="'check'+ventanasaccione.codigo">{{ventanasaccione.accion}} </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>