<ul class="list-group list-group-unbordered mb-3">
    <li class="list-group-item" *ngFor="let diag of enfermedad_diag">
      
        <b>{{diag.enfermedade.nombre}}</b> {{diag.enfermedade.codigo}}
    
    </li>
 
   
  </ul>
  <form novalidate [formGroup]="thisForm" (ngSubmit)="agregar()" #userForm="ngForm">
    <div class="input-group">
      
      
      <input [formControlName]="'enfermedades'" for="enfermedades" editable="false" placeholder="Seleccione una enfermedad" typeahead-editable="false" class="form-control" type="search" #instance="ngbTypeahead" #buscarEnfermedad name="enfermedades" [ngbTypeahead]="search" [inputFormatter]="formatter"
          [resultFormatter]="formatter" (focus)="focus$.next($event.target.value)" (click)="click$.next($event.target.value)" (keyup)="cargarCombo(buscarEnfermedad.value)">
      <div class="input-group-prepend" *ngIf="(thisForm.get('enfermedades').touched || thisForm.get('enfermedades').dirty ) && thisForm.get('enfermedades').errors">
          <app-button-error-validator *ngIf="thisForm.get('enfermedades')['errorMessage']" error="{{thisForm.get('enfermedades')['errorMessage']}}"></app-button-error-validator>
      </div>
      <button type="submit" class="btn btn-primary btn-block"><b>Nueva Enfermedad</b></button>
  </div>
</form>


  