<!-- <div class="card-body"> -->
  <form novalidate [formGroup]="thisForm" (ngSubmit)="guardar()" #userForm="ngForm">
      <div class="card card-primary" formGroupName="tercero">

          <div class="card-header">
              Datos básicos
              <div class="card-tools">
                <div class="form-inline">

                  <a title="Listado pacientes" class="btn btn-sm btn-danger" data-toggle="modal" routerLink="/pacientes">
                    <i class="fas fa-long-arrow-alt-left"></i>
                  </a>
              </div>

              </div>
          </div>
          <div class="card-body">

              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="identificacion">Identificación</span>
                  </div>
                  <input #identificacion formControlName="identificacion" type="text" class="form-control" aria-describedby="identificacion" id="identificacion" placeholder="Ingresa la identificacion del usuario" name="nombre">
                  <div class="input-group-append" *ngIf="(!identificacionEncontrada ) || (thisForm.get('tercero.identificacion').touched || thisForm.get('tercero.identificacion').dirty ) && thisForm.get('tercero.identificacion').errors">
                      <app-button-error-validator *ngIf="thisForm.get('tercero.identificacion')['errorMessage']" error="{{thisForm.get('tercero.identificacion')['errorMessage']}}"></app-button-error-validator>
                      <app-button-error-validator *ngIf="!identificacionEncontrada" error="Este paciente ya existe {{pacientePrev | json}} "></app-button-error-validator>
                  </div>
              </div>

              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="tipoidentificacion">Tipo de identificación</span>
                  </div>
                  <select formControlName="tipoidentificacion" class="form-control" aria-describedby="tipoidentificacion" id="tipoidentificacion" name="tipoidentificacion">
                      <option *ngFor="let key of keyTipoId" [value]="key">{{key}}</option>
                  </select>
              </div>
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="pnombre">Primer nombre</span>
                  </div>
                  <input formControlName="pnombre" type="text" class="form-control" aria-describedby="pnombre" id="pnombre" placeholder="Ingrese el primer nombre" name="pnombre">

                  <div class="input-group-append" *ngIf="(thisForm.get('tercero.pnombre').touched || thisForm.get('tercero.pnombre').dirty ) && thisForm.get('tercero.pnombre').errors">
                      <app-button-error-validator *ngIf="thisForm.get('tercero.pnombre')['errorMessage']" error="{{thisForm.get('tercero.pnombre')['errorMessage']}}"></app-button-error-validator>
                  </div>
              </div>
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="snombre">Segundo nombre</span>
                  </div>
                  <input formControlName="snombre" class="form-control" type="text" name="snombre" placeholder="Ingrese el segundo nombre" aria-label="Ingrese el segundo nombre" aria-describedby="snombre">
                  <div class="input-group-append" *ngIf="(thisForm.get('tercero.snombre').touched || thisForm.get('tercero.snombre').dirty ) && thisForm.get('tercero.snombre').errors">
                      <app-button-error-validator *ngIf="thisForm.get('tercero.snombre')['errorMessage']" error="{{thisForm.get('tercero.snombre')['errorMessage']}}"></app-button-error-validator>
                  </div>
              </div>
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="papellido">Primer Apellido</span>
                  </div>
                  <input formControlName="papellido" class="form-control" type="text" name="papellido" placeholder="Ingrese el primer apellido" aria-label="Ingrese el primer apellido" aria-describedby="papellido">
                  <div class="input-group-append" *ngIf="(thisForm.get('tercero.papellido').touched || thisForm.get('tercero.papellido').dirty ) && thisForm.get('tercero.papellido').errors">
                      <app-button-error-validator *ngIf="thisForm.get('tercero.papellido')['errorMessage']" error="{{thisForm.get('tercero.papellido')['errorMessage']}}"></app-button-error-validator>
                  </div>
              </div>
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="sapellido">Segundo apellido</span>
                  </div>
                  <input formControlName="sapellido" class="form-control" type="text" name="sapellido" placeholder="Ingrese el segundo apellido" aria-label="Ingrese el segundo apellido" aria-describedby="sapellido">
                  <div class="input-group-append" *ngIf="(thisForm.get('tercero.sapellido').touched || thisForm.get('tercero.sapellido').dirty ) && thisForm.get('tercero.sapellido').errors">
                      <app-button-error-validator *ngIf="thisForm.get('tercero.sapellido')['errorMessage']" error="{{thisForm.get('tercero.sapellido')['errorMessage']}}"></app-button-error-validator>
                  </div>
              </div>
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="sexo">Sexo</span>
                  </div>
                  <select formControlName="sexo" class="form-control" aria-describedby="sexo" id="sexi" name="sexo">
                      <option *ngFor="let key of keySexo" [value]="key">{{key}}</option>
                  </select>
                  <div class="input-group-append" *ngIf="(thisForm.get('tercero.sexo').touched || thisForm.get('tercero.sexo').dirty ) && thisForm.get('tercero.sexo').errors">
                      <app-button-error-validator *ngIf="thisForm.get('tercero.sexo')['errorMessage']" error="{{thisForm.get('tercero.sexo')['errorMessage']}}"></app-button-error-validator>
                  </div>
              </div>
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="fechanacimiento">Fecha de nacimiento</span>
                  </div>
                  <input formControlName="fechanacimiento" class="form-control" name="fechanacimiento" type="date">
                  <div class=" input-group-append ">
                      <div class="input-group-append" *ngIf="(thisForm.get('tercero.fechanacimiento').touched || thisForm.get('tercero.fechanacimiento').dirty ) && thisForm.get('tercero.fechanacimiento').errors">
                          <app-button-error-validator *ngIf="thisForm.get('tercero.fechanacimiento')['errorMessage']" error="{{thisForm.get('tercero.fechanacimiento')['errorMessage']}}"></app-button-error-validator>
                      </div>

                  </div>
              </div>
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="direccion">Dirección</span>
                  </div>

                  <input formControlName="direccion" class="form-control" type="text" name="direccion" placeholder="Ingrese la dirección" aria-label="Ingrese la dirección" aria-describedby="direccion">

                  <div class="input-group-append" *ngIf="(thisForm.get('tercero.direccion').touched || thisForm.get('tercero.direccion').dirty ) && thisForm.get('tercero.direccion').errors">
                      <app-button-error-validator *ngIf="thisForm.get('tercero.direccion')['errorMessage']" error="{{thisForm.get('tercero.direccion')['errorMessage']}}"></app-button-error-validator>
                  </div>
              </div>
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="Telefono">Telefono</span>
                  </div>
                  <input formControlName="telefono" class="form-control" type="text" name="telefono" placeholder="Ingrese el número telefonico" aria-label="Ingrese el número telefonico" aria-describedby="Telefono">
                  <div class="input-group-append" *ngIf="(thisForm.get('tercero.telefono').touched || thisForm.get('tercero.telefono').dirty ) && thisForm.get('tercero.telefono').errors">
                      <app-button-error-validator *ngIf="thisForm.get('tercero.telefono')['errorMessage']" error="{{thisForm.get('tercero.telefono')['errorMessage']}}"></app-button-error-validator>
                  </div>
              </div>
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="email">Email</span>
                  </div>
                  <input formControlName="email" class="form-control" type="text" name="email" placeholder="Ingrese el Email" aria-label="Ingrese el Email" aria-describedby="email">
                  <div class="input-group-append" *ngIf="(!emailEncontrado ) || (thisForm.get('tercero.email').touched || thisForm.get('tercero.email').dirty ) && thisForm.get('tercero.email').errors">
                      <app-button-error-validator *ngIf="thisForm.get('tercero.email')['errorMessage']" error="{{thisForm.get('tercero.email')['errorMessage']}}"></app-button-error-validator>
                      <app-button-error-validator *ngIf="!emailEncontrado" error="Este email ya existe {{pacientePrev | json}} "></app-button-error-validator>
                  </div>
              </div>
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="foto">Imagen</span>
                      <div class="input-group-prepend" *ngIf="(thisForm.get('tercero.foto').touched || thisForm.get('tercero.foto').dirty ) && thisForm.get('tercero.foto').errors">
                          <app-button-error-validator *ngIf="thisForm.get('tercero.foto')['errorMessage']" error="{{thisForm.get('tercero.foto')['errorMessage']}}"></app-button-error-validator>
                      </div>
                  </div>
                  <div class="custom-file">
                      <input formControlName="foto" type="file" class="custom-file-input" id="foto">
                      <label class="custom-file-label" for="foto">Seleccione una imagen</label>
                  </div>
              </div>
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="estado">Estado</span>
                  </div>
                  <select formControlName="estado" name="estado" id="estado" class="form-control">
                      <option [value]="true" selected>Activo</option>
                      <option [value]="false">Inactivo</option>
                  </select>
              </div>
          </div>
      </div>
      <div class="card card-success">
          <div class="card-header">
              Datos adicionales del paciente
          </div>
          <div class="card-body">
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="administradora">Administradora</span>
                  </div>
                  <input formControlName="administradora" class="form-control" type="text" name="administradora" placeholder="Ingrese la administradora de salud" aria-label="Ingrese la administradora de salud" aria-describedby="administradora">
                  <div class="input-group-prepend" *ngIf="(thisForm.get('administradora').touched || thisForm.get('administradora').dirty ) && thisForm.get('administradora').errors">
                      <app-button-error-validator *ngIf="thisForm.get('administradora')['errorMessage']" error="{{thisForm.get('administradora')['errorMessage']}}"></app-button-error-validator>
                  </div>
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="tipo">Tipo</span>
                </div>
                <input formControlName="tipo" class="form-control" type="text" name="tipo" placeholder="Ingrese el tipo" aria-label="Ingrese el tipo" aria-describedby="tipo">
                <div class="input-group-prepend" *ngIf="(thisForm.get('tipo').touched || thisForm.get('tipo').dirty ) && thisForm.get('tipo').errors">
                    <app-button-error-validator *ngIf="thisForm.get('tipo')['errorMessage']" error="{{thisForm.get('tipo')['errorMessage']}}"></app-button-error-validator>
                </div>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="autorizacion">Autorizacion</span>
              </div>
              <input formControlName="autorizacion" class="form-control" type="text" name="autorizacion" placeholder="Ingrese la autorizacion" aria-label="Ingrese la autorizacion" aria-describedby="autorizacion">
              <div class="input-group-prepend" *ngIf="(thisForm.get('autorizacion').touched || thisForm.get('autorizacion').dirty ) && thisForm.get('autorizacion').errors">
                  <app-button-error-validator *ngIf="thisForm.get('autorizacion')['errorMessage']" error="{{thisForm.get('autorizacion')['errorMessage']}}"></app-button-error-validator>
              </div>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="talla">Talla</span>
            </div>
            <input formControlName="talla" class="form-control" type="number" name="talla" placeholder="Ingrese la talla en centimetros" aria-label="Ingrese la talla en centimetros" aria-describedby="talla">
            <div class="input-group-prepend" *ngIf="(thisForm.get('talla').touched || thisForm.get('talla').dirty ) && thisForm.get('talla').errors">
                <app-button-error-validator *ngIf="thisForm.get('talla')['errorMessage']" error="{{thisForm.get('talla')['errorMessage']}}"></app-button-error-validator>
            </div>
        </div>
          </div>
      </div>
      <div class="card-footer text-muted">
          <!-- <button type="submit" class="btn btn-primary" [disabled]="!thisForm.valid">Guardar</button> -->
          <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
  </form>
<!-- </div> -->
