<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="../../../assets/dist/img/user4-128x128.jpg" alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">Nina Mcintire</h3>

                        <p class="text-muted text-center">Software Engineer</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li style="cursor: pointer;" class="list-group-item">
                                <b>Followers</b> <a class="float-right">1,322</a>
                            </li>
                            <li style="cursor: pointer;" class="list-group-item">
                                <b>Following</b> <a class="float-right">543</a>
                            </li>
                            <li style="cursor: pointer;" class="list-group-item">
                                <b>Friends</b> <a class="float-right">13,287</a>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">About Me</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i> Education</strong>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li style="cursor: pointer;" class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                            <li style="cursor: pointer;" class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>
                            <li style="cursor: pointer;" class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
                        </ul>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">

                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="timeline">
                                <!-- The timeline -->
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="settings">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card card-dark">
                                            <div class="card-header">
                                                <h3 class="card-title">Personalizar ventana</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <div class="custom-control custom-switch">
                                                        <input (change)="cambiarBorde($event)" [checked]="bordeQuitado" type="checkbox" class="custom-control-input" id="customSwitch1">
                                                        <label class="custom-control-label" for="customSwitch1">Borde barra navegación</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="custom-control custom-switch">
                                                        <input (change)="TextNavBar($event)" [checked]="sizeNavBar" type="checkbox" class="custom-control-input" id="customSwitch3">
                                                        <label class="custom-control-label" for="customSwitch3">Reducir texto NavBar</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="custom-control custom-switch">
                                                        <input (change)="TextSidebar($event)" [checked]="sizeSidebar" type="checkbox" class="custom-control-input" id="customSwitch4">
                                                        <label class="custom-control-label" for="customSwitch4">Reducir texto SideBar</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="custom-control custom-switch">
                                                        <input (change)="TextFooter($event)" [checked]="sizeFooter" type="checkbox" class="custom-control-input" id="customSwitch7">
                                                        <label class="custom-control-label" for="customSwitch7">Reducir texto Footer</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="custom-control custom-switch">
                                                        <input (change)="sizeIcono($event)" [checked]="sizeLogo" type="checkbox" class="custom-control-input" id="customSwitch11">
                                                        <label class="custom-control-label" for="customSwitch11">Reducir texto Brand-Link</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="custom-control custom-switch">
                                                        <input (change)="cambiarSizeTexto($event)" [checked]="sizeTexto" type="checkbox" class="custom-control-input" id="customSwitch2">
                                                        <label class="custom-control-label" for="customSwitch2">Reducir texto aplicativo</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="custom-control custom-switch">
                                                        <input (change)="StyleIzquierda($event)" [checked]="styleBarra" type="checkbox" class="custom-control-input" id="customSwitch5">
                                                        <label class="custom-control-label" for="customSwitch5">Estilo Flat Sidebar</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="custom-control custom-switch">
                                                        <input (change)="StyleIzquierda2($event)" [checked]="styleBarra2" type="checkbox" class="custom-control-input" id="customSwitch6">
                                                        <label class="custom-control-label" for="customSwitch6">Estilo Legacy Sidebar</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="custom-control custom-switch">
                                                        <input (change)="compactIzquierda($event)" [checked]="compactSidebar" type="checkbox" class="custom-control-input" id="customSwitch8">
                                                        <label class="custom-control-label" for="customSwitch8">Estilo Compacto Sidebar</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="custom-control custom-switch">
                                                        <input (change)="identarIzquierda($event)" [checked]="identarSidebar" type="checkbox" class="custom-control-input" id="customSwitch9">
                                                        <label class="custom-control-label" for="customSwitch9">Estilo identado Sidebar</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="custom-control custom-switch">
                                                        <input (change)="noExpandir($event)" [checked]="noExpand" type="checkbox" class="custom-control-input" id="customSwitch10">
                                                        <label class="custom-control-label" for="customSwitch10">No expandir barra izquierda</label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card card-dark">
                                            <div class="card-header">
                                                <h3 class="card-title">Configuración colores</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">

                                                    <div class="col-sm-6">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Color NavBar</h3>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="btn-group-vertical">
                                                                    <div class="btn-group">

                                                                        <li #link1 (click)="colorNavBar('navbar-primary',link1)" data-theme="navbar-primary" style="cursor: pointer;" class="btn btn-link"><i class="fas fa-tint" style="color: rgb(10, 110, 217);"></i></li>
                                                                        <li #link2 (click)="colorNavBar('navbar-secondary',link2)" data-theme="navbar-secondary" style="cursor: pointer;" class="btn btn-link"><i class="fas fa-tint" style="color: rgb(96, 106, 113);"></i></li>
                                                                        <li #link3 (click)="colorNavBar('navbar-info',link3)" data-theme="navbar-info" style="cursor: pointer;" class="btn btn-link"><i class="fas fa-tint" style="color: rgb(28, 142, 160);"></i></li>
                                                                        <li #link4 (click)="colorNavBar('navbar-success',link4)" data-theme="navbar-success" style="cursor: pointer;" class="btn btn-link"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <li #link5 (click)="colorNavBar('navbar-danger',link5)" data-theme="navbar-danger" style="cursor: pointer;" class="btn btn-link"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link6 (click)="colorNavBar('navbar-indigo',link6)" data-theme="navbar-indigo" style="cursor: pointer;" class="btn btn-link"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link7 (click)="colorNavBar('navbar-purple',link7)" data-theme="navbar-purple" style="cursor: pointer;" class="btn btn-link"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link8 (click)="colorNavBar('navbar-pink',link8)" data-theme="navbar-pink" style="cursor: pointer;" class="btn btn-link"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <li #link9 (click)="colorNavBar('navbar-navy',link9)" data-theme="navbar-navy" style="cursor: pointer;" class="btn btn-link"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link10 (click)="colorNavBar('navbar-lightblue',link10)" data-theme="navbar-lightblue" style="cursor: pointer;" class="btn btn-link"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link11 (click)="colorNavBar('navbar-teal',link11)" data-theme="navbar-teal" style="cursor: pointer;" class="btn btn-link"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link12 (click)="colorNavBar('navbar-cyan',link12)" data-theme="navbar-cyan" style="cursor: pointer;" class="btn btn-link"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <li #link13 (click)="colorNavBar('navbar-dark',link13)" data-theme="navbar-dark" style="cursor: pointer;" class="btn btn-link"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link14 (click)="colorNavBar('navbar-gray-dark',link14)" data-theme="navbar-gray-dark" style="cursor: pointer;" class="btn btn-link"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link15 (click)="colorNavBar('navbar-gray',link15)" data-theme="navbar-gray" style="cursor: pointer;" class="btn btn-link"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link16 (click)="colorNavBar('navbar-light',link16)" data-theme="navbar-light" style="cursor: pointer;" class="btn btn-link"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <li #link17 (click)="colorNavBar('navbar-orange',link17)" data-theme="navbar-orange" style="cursor: pointer;" class="btn btn-link"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link18 (click)="colorNavBar('navbar-warning',link18)" data-theme="navbar-warning" style="cursor: pointer;" class="btn btn-link"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link19 (click)="colorNavBar('navbar-white',link19)" data-theme="navbar-white" style="cursor: pointer;" class="btn btn-link"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link20 (click)="colorNavBar('navbar-red',link20)" data-theme="navbar-red" style="cursor: pointer;" class="btn btn-link"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Color Links</h3>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="btn-group-vertical">
                                                                    <div class="btn-group">
                                                                        <li #link21 (click)="colorAccent('accent-primary',link21)" style="cursor: pointer;" class="btn btn-default"><i class="fas fa-tint" style="color: rgb(28, 142, 160);"></i></li>
                                                                        <li #link22 (click)="colorAccent('accent-warning',link22)" style="cursor: pointer;" class="btn btn-default"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link23 (click)="colorAccent('accent-',link23)" style="cursor: pointer;" class="btn btn-default"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link24 (click)="colorAccent('accent-',link24)" style="cursor: pointer;" class="btn btn-default"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>

                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <li #link25 (click)="colorAccent('accent-',link25)" style="cursor: pointer;" class="btn btn-default"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link26 (click)="colorAccent('accent-',link26)" style="cursor: pointer;" class="btn btn-default"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link27 (click)="colorAccent('accent-',link27)" style="cursor: pointer;" class="btn btn-default"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link28 (click)="colorAccent('accent-',link28)" style="cursor: pointer;" class="btn btn-default"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <li #link29 (click)="colorAccent('accent-',link29)" style="cursor: pointer;" class="btn btn-default"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link30 (click)="colorAccent('accent-',link30)" style="cursor: pointer;" class="btn btn-default"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link31 (click)="colorAccent('accent-',link31)" style="cursor: pointer;" class="btn btn-default"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link32 (click)="colorAccent('accent-',link32)" style="cursor: pointer;" class="btn btn-default"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <li #link33 (click)="colorAccent('accent-',link33)" style="cursor: pointer;" class="btn btn-default"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link34 (click)="colorAccent('accent-',link34)" style="cursor: pointer;" class="btn btn-default"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link35 (click)="colorAccent('accent-',link35)" style="cursor: pointer;" class="btn btn-default"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link36 (click)="colorAccent('accent-',link36)" style="cursor: pointer;" class="btn btn-default"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <li #link37 (click)="colorAccent('accent-',link37)" style="cursor: pointer;" class="btn btn-default"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link38 (click)="colorAccent('accent-',link38)" style="cursor: pointer;" class="btn btn-default"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link39 (click)="colorAccent('accent-',link39)" style="cursor: pointer;" class="btn btn-default"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                        <li #link40 (click)="colorAccent('accent-',link40)" style="cursor: pointer;" class="btn btn-default"><i class="fas fa-tint" style="color: rgb(red, green, blue);"></i></li>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->