<app-form-ventana *ngIf="vetanaSeleccionada" [ventana]="vetanaSeleccionada"> </app-form-ventana>
<div class="row">
    <div class="col-8">
        <!--Start Tabla ventanas-->
        <div class="card animated fadeIn">
            <div class="card-header  bg-light">
                <h5 class="card-title card-title2">Ventanas (<small>{{totalVentanas}}</small>)</h5>
                <div class="card-tools">
                    <div class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2 input-search" aria-label="Small" type="search" placeholder="Buscar" aria-label="Search" #buscarventana (keyup)="p=1;buscar=buscarventana.value; verp(p)">
                        <a title="Agregar pais" class="btn btn-tool btn-sm btn-success mr-sm-2" data-toggle="modal" (click)="abrirModal(ventana)">
                            <i class=" fas fa-plus "></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="card-body table-responsive p-0 ">
                <table class="table table-valign-middle table-hover">
                    <thead>
                        <tr>
                            <th>Descripcion</th>
                            <th>Url</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr #rowSelect *ngFor="let ventana of ventanas | paginate:{id: 'venPag', itemsPerPage: limite, currentPage:p, totalItems: totalVentanas}" (click)="ventanaAcciones(rowSelect, ventana)" [ngClass]="{'table-primary':rowSelectedTable==rowSelect, 'table-danger':!ventana.estado}">
                            <!-- [ngClass]="{'table-primary':vetanaSeleccionada==ventana}"> -->
                            <td>{{ventana.descripcion}}</td>
                            <td>{{ventana.url}}</td>
                            <td>{{ventana.estado?'Activo':'Inactivo'}}</td>
                            <td>
                                <a (click)="abrirModal(ventana)" class="text-muted ">
                                    <i class="fas fa-edit" title="Editar"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" *ngIf="ventanas?.length==0">No hay registros encontrados</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <nav class="pagination pagination-lg">
                <ul class="pagination justify-content-end">
                    <pagination-controls id="venPag" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p=$event" (click)="verp(p)"></pagination-controls>
                </ul>
            </nav>
        </div>
        <!--End Tabla ventanas-->
    </div>
    <div class="col-4">
        <app-acciones *ngIf="listo" [ventana]="listo"></app-acciones>
    </div>
</div>